
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #035E7B;
  --secondary-color: #91B7C7;
  --accent1-color: #371E30;
  --accent2-color: #768948;
  --heading-font: "Libre Baskerville", serif;
  --paragraph-font: "Libre Baskerville", serif;
  --headline-color-on-white: #144266; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #144266; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #144266;
  --nav-link-color: #B744B8;
  --nav-hover-link-color: white;
  --nav-background-color: #371E30;
  --nav-hover-background-color: #91B7C7;
}

body {
  background-color: #91B7C7;
  font-family: var(--paragraph-font);
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  margin: 0;
}

header {
  background-color: var(--secondary-color);
  color: red;
  display: grid;
  grid-template-columns: 150px auto;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav a {
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: #4A4E69;
  grid-column: 1/11;
  grid-row: 4/9;
}

.article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.article p {
  float: right;
}

.article img {
  float: right;
  margin-left: 10px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

footer .social img {
  padding-top: 15px;
}

footer {
  color: #000;
  padding: 25px 50px;
}

footer a {
  color: green;
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer a:hover {
  color: var(--nav-hover-background-color);
}

.logo {
  width: 80px;
}

.home-title {
  color: #C9ADA7;
  font-family: var(--heading-font);
  font-size: 2em;
  margin-top: 10px;
}

footer {
  margin-top: 25px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
